[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/subains/rocksdb.git
	branch = coroutines+iouring

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/subains/titan.git
	branch = coroutine+iouring
