[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/yiwu-arbug/rocksdb.git
	branch = upgrade_master
[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/yiwu-arbug/titan.git
	branch = upgrade_6.4

